.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../images/youtube-placeholder.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

a {
  color: hotpink;
  text-decoration: underline;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10.9% 0% 0%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: Girott;
  color: #fff;
  font-size: 29.34vw;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-indent: -1.2%;
  text-transform: uppercase;
}

.chapter {
  position: static;
  display: block;
  overflow: visible;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  font-family: Girott;
  color: #000;
  font-size: 6vw;
  line-height: 100%;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.div-block-4 {
  position: static;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
}

.subtitel {
  position: static;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 4vh;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  font-family: Girott;
  color: #fff;
  font-size: 6vw;
  line-height: 100%;
  text-transform: uppercase;
}

.div-block-8 {
  position: absolute;
  z-index: -100;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/tbilisi-drone-still-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.div-block-15 {
  width: 100vw;
  height: 100vh;
}

.grid-6 {
  margin-top: 0.5vw;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  padding-right: 0px;
  padding-left: 0px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". ." ". ." ". ." ". ." ". ." ". ." ". ." ". ." ". ." ". .";
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.chapters-menu {
  position: static;
  display: block;
  overflow: visible;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  font-family: Girott;
  color: #000;
  font-size: 6vw;
  line-height: 100%;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.chapters-menu.chapters-menu-right {
  color: #a55151;
  text-align: right;
  text-decoration: none;
}

.frame-chapters-menu {
  margin: -0.7vw -2.5vw -0.6vw;
  border-top: 0.2vw solid #000;
  border-bottom: 0.2vw solid #000;
  color: transparent;
}

.text-block-copy {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  background-color: #fff;
  font-family: Arnhem;
  color: #000;
  font-size: 23px;
  line-height: 33px;
  text-decoration: none;
}

.text-block-copy.withoutspace {
  padding-top: 0vw;
}

.div-block-16 {
  width: 100vw;
  height: 100vh;
  margin: -6px 0px -5px -2.5vw;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('../images/georgia_hitori_F5820016.JPG');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-16.header-h2 {
  background-image: url('../images/dxthm1000.NewWebParadiseGarageDanceFloor_edit.jpg');
}

.div-block-16.h3 {
  background-image: url('../images/georgia_hitori_F5820016_S.jpg');
  background-position: 50% 100%;
}

.div-block-16.h4 {
  background-image: url('../images/I-Dance-Alone_Fun-House_touch_2_2014.jpg');
}

.div-block-16.header-h1 {
  margin-top: -9px;
  background-image: url('../images/I_Dance_Alone_DGTL_Amsterdam_Bogomir_Doringer_2018_edit.jpg');
}

.glossary-span {
  border-width: 2.5px;
  border-color: hotpink;
  border-bottom-style: solid;
  border-radius: 0px;
  color: #000;
  line-height: 0px;
  text-decoration: none;
}

.link-2 {
  text-decoration: none;
}

.youtube-3 {
  top: 0vh;
  z-index: 100;
  display: block;
  height: 10vh;
  margin-top: 0vh;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

.youtube-4 {
  position: relative;
  top: 0vh;
  z-index: 100;
  height: 10vh;
  margin-top: 60vh;
  padding-left: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.caption {
  padding-bottom: 34px;
  font-family: Lyontext;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.link-3 {
  color: #000;
  text-decoration: none;
}

.link-4 {
  color: #000;
  text-decoration: none;
}

.link-5 {
  color: #000;
  text-decoration: none;
}

.link-6 {
  color: #000;
  text-decoration: none;
}

.link-7 {
  text-decoration: none;
}

.link-8 {
  color: #000;
  text-decoration: none;
}

.link-9 {
  color: #000;
  text-decoration: none;
}

.link-10 {
  color: #000;
  text-decoration: none;
}

.link-11 {
  color: #000;
  text-decoration: none;
}

.link-12 {
  color: #000;
  text-decoration: none;
}

.link-12.w--current {
  color: #a44949;
}

.link-13 {
  color: #000;
  text-decoration: none;
}

.link-14 {
  color: #000;
  text-decoration: none;
}

.link-15 {
  color: #000;
  text-decoration: none;
}

.link-16 {
  color: #000;
  text-decoration: none;
}

.notes {
  display: block;
  margin-top: 0px;
  padding-bottom: 1.5vw;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  font-family: Arnhem;
  color: hotpink;
  font-size: 16px;
  line-height: 22px;
}

.notes.notes-top {
  padding-top: 1.5vw;
  padding-bottom: 0vw;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  font-family: Arnhem;
}

.notes.notes-centre {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 16px;
  line-height: 22px;
}

.bold-text-2 {
  font-weight: 400;
}

.youtube-6 {
  top: 0vh;
  height: 10vh;
  margin-top: 0vh;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.bibliography {
  padding-top: 2vh;
  font-family: Lyontext;
  color: #000;
}

.youtube-11 {
  position: relative;
  height: 10vh;
}

.link-block {
  position: fixed;
  margin-top: 30vh;
}

.image-3 {
  position: fixed;
  left: 4vh;
  bottom: 4vh;
}

.image-4 {
  position: static;
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.image-5 {
  position: static;
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.image-6 {
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.image-7 {
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.image-8 {
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.image-9 {
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.image-10 {
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.image-11 {
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.youtube-12 {
  height: 10vh;
  margin-top: 130vh;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

.youtube-13 {
  height: 10vh;
}

@media (max-width: 479px) {
  .text-block {
    font-size: 27.5vw;
  }
  .chapter {
    font-size: 10vw;
  }
  .subtitel {
    font-size: 9.5vw;
  }
  .grid-6 {
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
  .chapters-menu {
    font-size: 10vw;
  }
  .frame-chapters-menu {
    border-top-width: 0.4vw;
    border-bottom-width: 0.4vw;
  }
  .text-block-copy {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 18px;
    line-height: 27px;
  }
  .text-block-copy.withoutspace {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
  }
  .div-block-16.header-h2 {
    height: 50vh;
    margin-bottom: -0.5vh;
  }
  .div-block-16.h3 {
    height: 50vh;
  }
  .div-block-16.h4 {
    height: 50vh;
  }
  .div-block-16.header-h1 {
    height: 50vh;
    margin-top: -14px;
    margin-bottom: 0vh;
    padding-top: 0px;
    background-position: -102px 0px;
  }
  .youtube-3 {
    display: none;
    margin-top: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .youtube-4 {
    display: none;
    margin-top: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .caption {
    display: none;
    font-size: 14px;
  }
  .notes {
    display: none;
    overflow: visible;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .youtube-6 {
    display: none;
    margin-top: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .youtube-11 {
    display: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .image-7 {
    display: none;
  }
  .image-8 {
    display: none;
  }
  .image-9 {
    display: none;
  }
  .youtube-12 {
    display: none;
  }
  .youtube-13 {
    display: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-c251cf0195d7-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 10;
  grid-row-end: 11;
}

@media screen and (max-width: 479px) {
  #w-node-c251cf0195d7-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 10;
    grid-row-end: 11;
  }
}

#menu.w-node-8926204902e2-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #menu.w-node-8926204902e2-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-74bdc33ddbf5-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b7402ec381c4-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-b7402ec381c4-c93b1a69 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 18;
    grid-column-end: 20;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-dedc8e4bf435-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-998f868dd5a5-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 479px) {
  #w-node-998f868dd5a5-c93b1a69 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 18;
    grid-column-end: 20;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-9a58ec37c6ff-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 479px) {
  #w-node-9a58ec37c6ff-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-49bf4007b458-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-dfe2de0a6043-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 479px) {
  #w-node-dfe2de0a6043-c93b1a69 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 18;
    grid-column-end: 20;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-df41e19aed90-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

@media screen and (max-width: 479px) {
  #w-node-df41e19aed90-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

#w-node-1e454ce125ea-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

@media screen and (max-width: 479px) {
  #w-node-1e454ce125ea-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
}

#w-node-d1eabcf35fe7-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

@media screen and (max-width: 479px) {
  #w-node-d1eabcf35fe7-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
}

#w-node-125f3c67fc3a-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

@media screen and (max-width: 479px) {
  #w-node-125f3c67fc3a-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
}

#w-node-2b63e37d3d92-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

@media screen and (max-width: 479px) {
  #w-node-2b63e37d3d92-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
  }
}

#w-node-4c726e9a8955-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-949d345907ae-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-718ff4e016f7-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

@media screen and (max-width: 479px) {
  #w-node-718ff4e016f7-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
  }
}

#w-node-19401dfb147a-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

@media screen and (max-width: 479px) {
  #w-node-19401dfb147a-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }
}

#w-node-5bb11829fa7a-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

@media screen and (max-width: 479px) {
  #w-node-5bb11829fa7a-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }
}

#w-node-3587fcacd70c-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-41d2bb9c3d43-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-110b6429db5c-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

@media screen and (max-width: 479px) {
  #w-node-110b6429db5c-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 11;
    grid-row-start: 11;
    -ms-grid-row-span: 1;
    grid-row-end: 12;
  }
}

#w-node-10ca18911ff7-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-6e38ff048f7d-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-870d174ae1b8-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 12;
  grid-row-start: 12;
  -ms-grid-row-span: 1;
  grid-row-end: 13;
}

#w-node-1d038c512b7b-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 40;
  grid-row-start: 40;
  -ms-grid-row-span: 1;
  grid-row-end: 41;
}

@media screen and (max-width: 479px) {
  #w-node-1d038c512b7b-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 18;
    grid-column-end: 19;
    -ms-grid-row: 29;
    grid-row-start: 29;
    -ms-grid-row-span: 1;
    grid-row-end: 30;
  }
}

#w-node-11483afa69ac-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 52;
  grid-row-start: 52;
  -ms-grid-row-span: 1;
  grid-row-end: 53;
}

@media screen and (max-width: 479px) {
  #w-node-11483afa69ac-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 40;
    grid-row-start: 40;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row-span: 1;
    grid-row-end: 41;
  }
}

#w-node-c52df6c784aa-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 1;
  grid-row-end: 14;
}

@media screen and (max-width: 479px) {
  #w-node-c52df6c784aa-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 13;
    grid-row-start: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 14;
  }
}

#abstract.w-node-568d0f288751-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-98e2317302c7-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

@media screen and (max-width: 479px) {
  #w-node-98e2317302c7-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 14;
    grid-row-start: 14;
    -ms-grid-row-span: 1;
    grid-row-end: 15;
  }
}

#w-node-919c9c0c3f76-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 17;
  grid-row-start: 17;
  -ms-grid-row-span: 1;
  grid-row-end: 18;
}

@media screen and (max-width: 479px) {
  #w-node-919c9c0c3f76-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 16;
    grid-row-start: 16;
    -ms-grid-row-span: 1;
    grid-row-end: 17;
  }
}

#w-node-2a35bc5cd724-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 17;
  grid-row-start: 17;
  -ms-grid-row-span: 1;
  grid-row-end: 18;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

@media screen and (max-width: 479px) {
  #w-node-2a35bc5cd724-c93b1a69 {
    -ms-grid-column: 10;
    grid-column-start: 10;
    -ms-grid-column-span: 3;
    grid-column-end: 13;
    -ms-grid-row: 17;
    grid-row-start: 17;
    -ms-grid-row-span: 1;
    grid-row-end: 18;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

#w-node-bf11138c9ded-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 18;
  grid-row-start: 18;
  -ms-grid-row-span: 1;
  grid-row-end: 19;
}

@media screen and (max-width: 479px) {
  #w-node-bf11138c9ded-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 17;
    grid-row-start: 17;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 18;
  }
}

#dancemusic.w-node-0558321a2cea-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 19;
  grid-row-start: 19;
  -ms-grid-row-span: 1;
  grid-row-end: 20;
}

@media screen and (max-width: 479px) {
  #dancemusic.w-node-0558321a2cea-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 18;
    grid-row-start: 18;
    -ms-grid-row-span: 1;
    grid-row-end: 19;
  }
}

#w-node-25a7760faa90-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 21;
  grid-row-start: 21;
  -ms-grid-row-span: 1;
  grid-row-end: 22;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

@media screen and (max-width: 479px) {
  #w-node-25a7760faa90-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 20;
    grid-row-start: 20;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row-span: 1;
    grid-row-end: 21;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

#w-node-206846055cd4-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 20;
  grid-row-start: 20;
  -ms-grid-row-span: 1;
  grid-row-end: 21;
}

@media screen and (max-width: 479px) {
  #w-node-206846055cd4-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 18;
    grid-column-end: 19;
    -ms-grid-row: 19;
    grid-row-start: 19;
    -ms-grid-row-span: 1;
    grid-row-end: 20;
  }
}

#w-node-f1556ba715ab-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 10;
  grid-column-end: 12;
  -ms-grid-row: 22;
  grid-row-start: 22;
  -ms-grid-row-span: 1;
  grid-row-end: 23;
}

#w-node-c2d702724502-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 23;
  grid-row-start: 23;
  -ms-grid-row-span: 1;
  grid-row-end: 24;
}

@media screen and (max-width: 479px) {
  #w-node-c2d702724502-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 21;
    grid-row-start: 21;
    -ms-grid-row-span: 1;
    grid-row-end: 22;
  }
}

#w-node-8a1c44264c62-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 23;
  grid-row-start: 23;
  -ms-grid-row-span: 1;
  grid-row-end: 24;
}

#w-node-5848a054a0fb-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 23;
  grid-row-start: 23;
  -ms-grid-row-span: 1;
  grid-row-end: 24;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-5848a054a0fb-c93b1a69 {
    -ms-grid-column: 10;
    grid-column-start: 10;
    -ms-grid-column-span: 3;
    grid-column-end: 13;
    -ms-grid-row: 23;
    grid-row-start: 23;
    -ms-grid-row-span: 1;
    grid-row-end: 24;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

#w-node-144ef5df8dd7-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 24;
  grid-row-start: 24;
  -ms-grid-row-span: 1;
  grid-row-end: 25;
}

@media screen and (max-width: 479px) {
  #w-node-144ef5df8dd7-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 22;
    grid-row-start: 22;
    -ms-grid-row-span: 1;
    grid-row-end: 23;
  }
}

#w-node-9e7990fa5438-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 10;
  grid-column-end: 12;
  -ms-grid-row: 25;
  grid-row-start: 25;
  -ms-grid-row-span: 1;
  grid-row-end: 26;
}

#w-node-06f4f616a0d8-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 26;
  grid-row-start: 26;
  -ms-grid-row-span: 1;
  grid-row-end: 27;
}

@media screen and (max-width: 479px) {
  #w-node-06f4f616a0d8-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 23;
    grid-row-start: 23;
    -ms-grid-row-span: 1;
    grid-row-end: 24;
  }
}

#w-node-775e6e5a40e7-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 26;
  grid-row-start: 26;
  -ms-grid-row-span: 1;
  grid-row-end: 27;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b9b3df059ad5-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 26;
  grid-row-start: 26;
  -ms-grid-row-span: 1;
  grid-row-end: 27;
}

#w-node-b3608a292bae-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 26;
  grid-row-start: 26;
  -ms-grid-row-span: 1;
  grid-row-end: 27;
}

#w-node-afde7a6862ac-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 10;
  grid-column-end: 12;
  -ms-grid-row: 28;
  grid-row-start: 28;
  -ms-grid-row-span: 1;
  grid-row-end: 29;
}

#w-node-01bb0624fe38-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 27;
  grid-row-start: 27;
  -ms-grid-row-span: 1;
  grid-row-end: 28;
}

@media screen and (max-width: 479px) {
  #w-node-01bb0624fe38-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 25;
    grid-row-start: 25;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row-span: 1;
    grid-row-end: 26;
  }
}

#w-node-a7970fa17f4e-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 29;
  grid-row-start: 29;
  -ms-grid-row-span: 1;
  grid-row-end: 30;
}

@media screen and (max-width: 479px) {
  #w-node-a7970fa17f4e-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 24;
    grid-row-start: 24;
    -ms-grid-row-span: 1;
    grid-row-end: 25;
  }
}

#w-node-1af95a23d221-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 29;
  grid-row-start: 29;
  -ms-grid-row-span: 1;
  grid-row-end: 30;
}

#w-node-220b38c4d275-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 29;
  grid-row-start: 29;
  -ms-grid-row-span: 1;
  grid-row-end: 30;
}

#w-node-72f84da0a3f0-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 31;
  grid-row-start: 31;
  -ms-grid-row-span: 1;
  grid-row-end: 32;
}

@media screen and (max-width: 479px) {
  #w-node-72f84da0a3f0-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 27;
    grid-row-start: 27;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 28;
  }
}

#detroit-berlin.w-node-cecc180309bc-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 30;
  grid-row-start: 30;
  -ms-grid-row-span: 1;
  grid-row-end: 31;
}

@media screen and (max-width: 479px) {
  #detroit-berlin.w-node-cecc180309bc-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 18;
    grid-column-end: 19;
    -ms-grid-row: 26;
    grid-row-start: 26;
    -ms-grid-row-span: 1;
    grid-row-end: 27;
  }
}

#w-node-843ca6547d89-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 30;
  grid-row-start: 30;
  -ms-grid-row-span: 1;
  grid-row-end: 31;
}

#w-node-0581356ea8d4-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 30;
  grid-row-start: 30;
  -ms-grid-row-span: 1;
  grid-row-end: 31;
}

#w-node-aaeecfa7cf9a-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 30;
  grid-row-start: 30;
  -ms-grid-row-span: 1;
  grid-row-end: 31;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-aaeecfa7cf9a-c93b1a69 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 35;
    grid-row-start: 35;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
    -ms-grid-row-span: 1;
    grid-row-end: 36;
  }
}

#w-node-7c6f5a71ec16-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 30;
  grid-row-start: 30;
  -ms-grid-row-span: 1;
  grid-row-end: 31;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2a310cb8b739-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 32;
  grid-row-start: 32;
  -ms-grid-row-span: 1;
  grid-row-end: 33;
}

#bassiani.w-node-d7b473fdcc09-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 33;
  grid-row-start: 33;
  -ms-grid-row-span: 1;
  grid-row-end: 34;
}

@media screen and (max-width: 479px) {
  #bassiani.w-node-d7b473fdcc09-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 28;
    grid-row-start: 28;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row-span: 1;
    grid-row-end: 29;
  }
}

#w-node-2fa8314e2f55-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 34;
  grid-row-start: 34;
  -ms-grid-row-span: 1;
  grid-row-end: 35;
}

@media screen and (max-width: 479px) {
  #w-node-2fa8314e2f55-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 30;
    grid-row-start: 30;
    -ms-grid-row-span: 1;
    grid-row-end: 31;
  }
}

#w-node-267e01320f14-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 34;
  grid-row-start: 34;
  -ms-grid-row-span: 1;
  grid-row-end: 35;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-d533f2d72f3e-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 34;
  grid-row-start: 34;
  -ms-grid-row-span: 1;
  grid-row-end: 35;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0593a78a123a-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 44;
  grid-row-start: 44;
  -ms-grid-row-span: 1;
  grid-row-end: 45;
}

@media screen and (max-width: 479px) {
  #w-node-0593a78a123a-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 32;
    grid-row-start: 32;
    -ms-grid-row-span: 1;
    grid-row-end: 33;
  }
}

#w-node-b468b48124d6-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 35;
  grid-row-start: 35;
  -ms-grid-row-span: 1;
  grid-row-end: 36;
}

#conclusion.w-node-8a5958947e99-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 49;
  grid-row-start: 49;
  -ms-grid-row-span: 1;
  grid-row-end: 50;
}

@media screen and (max-width: 479px) {
  #conclusion.w-node-8a5958947e99-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 36;
    grid-row-start: 36;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row-span: 1;
    grid-row-end: 37;
  }
}

#w-node-6a945369c5b7-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 36;
  grid-row-start: 36;
  -ms-grid-row-span: 1;
  grid-row-end: 37;
}

#w-node-e90048eb3be0-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 37;
  grid-row-start: 37;
  -ms-grid-row-span: 1;
  grid-row-end: 38;
}

@media screen and (max-width: 479px) {
  #w-node-e90048eb3be0-c93b1a69 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 51;
    grid-row-start: 51;
    -ms-grid-column-span: 12;
    grid-column-end: 14;
    -ms-grid-row-span: 1;
    grid-row-end: 52;
  }
}

#w-node-490090d8e824-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 39;
  grid-row-start: 39;
  -ms-grid-row-span: 1;
  grid-row-end: 40;
}

#w-node-49ffe46d68aa-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 38;
  grid-row-start: 38;
  -ms-grid-row-span: 1;
  grid-row-end: 39;
}

#w-node-4a2fe08ba340-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 40;
  grid-row-start: 40;
  -ms-grid-row-span: 1;
  grid-row-end: 41;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-14d541c2ba19-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 40;
  grid-row-start: 40;
  -ms-grid-row-span: 1;
  grid-row-end: 41;
}

#w-node-4bf90937aa2b-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 40;
  grid-row-start: 40;
  -ms-grid-row-span: 1;
  grid-row-end: 41;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-4bf90937aa2b-c93b1a69 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 53;
    grid-row-start: 53;
    -ms-grid-column-span: 9;
    grid-column-end: 11;
    -ms-grid-row-span: 1;
    grid-row-end: 54;
  }
}

#w-node-5e2c710096db-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 34;
  grid-row-start: 34;
  -ms-grid-row-span: 1;
  grid-row-end: 35;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#safer-spaces.w-node-0f90ba6ed62f-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 38;
  grid-row-start: 38;
  -ms-grid-row-span: 1;
  grid-row-end: 39;
}

@media screen and (max-width: 479px) {
  #safer-spaces.w-node-0f90ba6ed62f-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 31;
    grid-row-start: 31;
    -ms-grid-row-span: 1;
    grid-row-end: 32;
  }
}

#w-node-6f8bb230beb4-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 41;
  grid-row-start: 41;
  -ms-grid-row-span: 1;
  grid-row-end: 42;
}

@media screen and (max-width: 479px) {
  #w-node-6f8bb230beb4-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 41;
    grid-row-start: 41;
    -ms-grid-row-span: 1;
    grid-row-end: 42;
  }
}

#w-node-7400cffaedea-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 13;
  grid-column-end: 14;
  -ms-grid-row: 42;
  grid-row-start: 42;
  -ms-grid-row-span: 1;
  grid-row-end: 43;
}

#w-node-a5340a71dd3d-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 43;
  grid-row-start: 43;
  -ms-grid-row-span: 1;
  grid-row-end: 44;
}

@media screen and (max-width: 479px) {
  #w-node-a5340a71dd3d-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 46;
    grid-row-start: 46;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 47;
  }
}

#w-node-4979048c5020-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 44;
  grid-row-start: 44;
  -ms-grid-row-span: 1;
  grid-row-end: 45;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-1cb58c20d228-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 44;
  grid-row-start: 44;
  -ms-grid-row-span: 1;
  grid-row-end: 45;
}

#w-node-c3256e22549e-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 44;
  grid-row-start: 44;
  -ms-grid-row-span: 1;
  grid-row-end: 45;
}

#w-node-13794a6cba0e-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 45;
  grid-row-start: 45;
  -ms-grid-row-span: 1;
  grid-row-end: 46;
}

@media screen and (max-width: 479px) {
  #w-node-13794a6cba0e-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 33;
    grid-row-start: 33;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 34;
  }
}

#w-node-67e95fecf317-c93b1a69 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 46;
  grid-row-start: 46;
  -ms-grid-row-span: 1;
  grid-row-end: 47;
}

#utopia.w-node-ce75231f1c25-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 47;
  grid-row-start: 47;
  -ms-grid-row-span: 1;
  grid-row-end: 48;
}

@media screen and (max-width: 479px) {
  #utopia.w-node-ce75231f1c25-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 34;
    grid-row-start: 34;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row-span: 1;
    grid-row-end: 35;
  }
}

#w-node-d7fb92614d27-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 48;
  grid-row-start: 48;
  -ms-grid-row-span: 1;
  grid-row-end: 49;
}

@media screen and (max-width: 479px) {
  #w-node-d7fb92614d27-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 35;
    grid-row-start: 35;
    -ms-grid-row-span: 1;
    grid-row-end: 36;
  }
}

#w-node-fbba30ca0753-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 48;
  grid-row-start: 48;
  -ms-grid-row-span: 1;
  grid-row-end: 49;
}

#w-node-537e48af1ca6-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 48;
  grid-row-start: 48;
  -ms-grid-row-span: 1;
  grid-row-end: 49;
}

#w-node-e59adcdc6f89-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 48;
  grid-row-start: 48;
  -ms-grid-row-span: 1;
  grid-row-end: 49;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e9192af575bf-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 48;
  grid-row-start: 48;
  -ms-grid-row-span: 1;
  grid-row-end: 49;
}

#w-node-d273eac58e91-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 50;
  grid-row-start: 50;
  -ms-grid-row-span: 1;
  grid-row-end: 51;
}

@media screen and (max-width: 479px) {
  #w-node-d273eac58e91-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 37;
    grid-row-start: 37;
    -ms-grid-row-span: 1;
    grid-row-end: 38;
  }
}

#w-node-8ad779f1f293-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 51;
  grid-row-start: 51;
  -ms-grid-row-span: 1;
  grid-row-end: 52;
}

@media screen and (max-width: 479px) {
  #w-node-8ad779f1f293-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 19;
    grid-column-end: 20;
    -ms-grid-row: 38;
    grid-row-start: 38;
    -ms-grid-row-span: 1;
    grid-row-end: 39;
  }
}

#w-node-81db4ee8823f-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

#w-node-ee14626ef0cc-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 34;
  grid-row-start: 34;
  -ms-grid-row-span: 1;
  grid-row-end: 35;
}

#w-node-ce081baa5650-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 38;
  grid-row-start: 38;
  -ms-grid-row-span: 1;
  grid-row-end: 39;
}

#w-node-36dc2b846c0d-c93b1a69 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row: 20;
  grid-row-start: 20;
  -ms-grid-row-span: 1;
  grid-row-end: 21;
}

#introduction.w-node-ee169997de9b-c93b1a69 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 16;
  grid-row-start: 16;
  -ms-grid-row-span: 1;
  grid-row-end: 17;
}

@media screen and (max-width: 479px) {
  #introduction.w-node-ee169997de9b-c93b1a69 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 14;
    grid-column-end: 15;
    -ms-grid-row: 15;
    grid-row-start: 15;
    -ms-grid-row-span: 1;
    grid-row-end: 16;
  }
}

@font-face {
  font-family: 'Girott';
  src: url('../fonts/girott_regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lyontext';
  src: url('../fonts/LyonText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lyon text';
  src: url('../fonts/Lyon-Text-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arnhem';
  src: url('../fonts/Arnhem-Normal.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arnhem';
  src: url('../fonts/Arnhem-NormalItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Girott';
  src: url('../fonts/girott_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}