.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../images/youtube-placeholder.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

a {
  text-decoration: underline;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10.9% 0% 0%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: Girott, sans-serif;
  color: #fff;
  font-size: 29.34vw;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-indent: -1.2%;
  text-transform: uppercase;
}

.chapter {
  position: static;
  display: block;
  overflow: visible;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  font-family: Girott, sans-serif;
  color: #000;
  font-size: 6vw;
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.div-block-4 {
  position: static;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
}

.subtitel {
  margin-top: 4%;
  margin-bottom: 4%;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Girott, sans-serif;
  color: #fff;
  font-size: 6vw;
  line-height: 100%;
  text-transform: uppercase;
}

.div-block-8 {
  position: absolute;
  z-index: -100;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/tbilisidronestill.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.div-block-15 {
  width: 100vw;
  height: 100vh;
}

.grid-6 {
  margin-top: 0.5vw;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  grid-column-gap: 2vw;
  grid-row-gap: 1vw;
  -ms-grid-columns: 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw;
  grid-template-columns: 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.sources {
  padding-bottom: 1.5vw;
  font-family: Lyontext, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 28px;
}

.chapters-menu {
  position: static;
  display: block;
  overflow: visible;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  font-family: Girott, sans-serif;
  color: #000;
  font-size: 6vw;
  line-height: 100%;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.chapters-menu.chapters-menu-right {
  color: #a55151;
  text-align: right;
  text-decoration: none;
}

.frame-chapters-menu {
  margin: -0.7vw -3.5vw -0.6vw -2.5vw;
  border-top: 0.2vw solid #000;
  border-bottom: 0.2vw solid #000;
  color: transparent;
}

.text-block-copy {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  background-color: #fff;
  font-family: Lyontext, sans-serif;
  color: #000;
  font-size: 23px;
  line-height: 33px;
  text-decoration: none;
}

.div-block-16 {
  width: 100vw;
  height: 100vh;
  margin: -6px 0px -5px -2.5vw;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('../images/georgia_hitori_F5820016.JPG');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-16.header-h2 {
  background-image: url('../images/dxthm1000.NewWebParadiseGarageDanceFloor_edit.jpg');
}

.div-block-16.h3 {
  background-image: url('../images/georgia_hitori_F5820016_L.jpg');
}

.div-block-16.header-h1 {
  background-image: url('../images/I_Dance_Alone_DGTL_Amsterdam_Bogomir_Doringer_2018_edit.jpg');
}

.slider {
  width: auto;
  height: 83vh;
  background-color: transparent;
}

.slide-1a {
  background-image: url('../images/bernstein_nycdisco_larrylevan.jpeg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-1a.slide-2b {
  background-image: url('../images/georgia_hitori_F2310030.jpg');
}

.slide-1a.slide-3a {
  background-image: url('../images/georgia_marian_1526318848007.jpg');
}

.icon {
  color: #000;
}

.icon-2 {
  color: #000;
}

.slide-1b {
  background-image: url('../images/bernstein_nycdisco_7.jpeg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-1b.slide-2c {
  background-image: url('../images/georgia_hitori_F1470009.jpg');
}

.slide-1c {
  background-image: url('../images/bernstein_nycdisco_5.jpeg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-1d {
  background-image: url('../images/bernstein_nycdisco_3.jpeg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bold-text {
  font-weight: 400;
  text-decoration: none;
}

.glossary-span {
  border-width: 2.5px;
  border-color: hotpink;
  border-bottom-style: solid;
  border-radius: 0px;
  color: #000;
  line-height: 0px;
  text-decoration: none;
}

.glossary {
  display: block;
  height: auto;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  background-color: transparent;
  font-family: Lyontext, sans-serif;
  color: hotpink;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}

.link-2 {
  text-decoration: none;
}

.youtube {
  width: auto;
  height: 10vh;
  margin-top: 100px;
}

.youtube-2 {
  height: 10vh;
  margin-top: 1900px;
}

.slide-2a {
  background-image: url('../images/georgia_hitori_F6400013.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.slide3 {
  width: auto;
  height: 83vh;
  background-color: transparent;
}

.youtube-3 {
  height: 10vh;
  margin-top: 150px;
}

.youtube-4 {
  height: 10vh;
  margin-top: 700px;
}

.youtube-5 {
  height: 10vh;
  margin-top: 840px;
}

.captiopn {
  color: #000;
  font-size: 16px;
  line-height: 28px;
}

.link-3 {
  color: #000;
  text-decoration: none;
}

.link-4 {
  color: #000;
  text-decoration: none;
}

.link-5 {
  color: #000;
  text-decoration: none;
}

.link-6 {
  color: #000;
  text-decoration: none;
}

.link-7 {
  text-decoration: none;
}

.link-8 {
  color: #000;
  text-decoration: none;
}

.link-9 {
  color: #000;
  text-decoration: none;
}

.link-10 {
  color: #000;
  text-decoration: none;
}

.link-11 {
  color: #000;
  text-decoration: none;
}

.link-12 {
  color: #000;
  text-decoration: none;
}

.link-12.w--current {
  color: #a44949;
}

.link-13 {
  color: #000;
  text-decoration: none;
}

.link-14 {
  color: #000;
  text-decoration: none;
}

.link-15 {
  color: #000;
  text-decoration: none;
}

.link-16 {
  color: #000;
  text-decoration: none;
}

#w-node-c251cf0195d7-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 10;
  grid-row-end: 11;
}

#w-node-74bdc33ddbf5-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b7402ec381c4-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-cbcd1e871f0d-f9cd73c5 {
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 12;
  grid-column-end: 22;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-dedc8e4bf435-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-998f868dd5a5-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-6901acf55733-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-49bf4007b458-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-dfe2de0a6043-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-fb62624fa38a-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-df41e19aed90-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-2fb4ad4ff1ce-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-d1eabcf35fe7-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-8bb80ad961e5-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-125f3c67fc3a-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-12db074ef9a0-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-4c726e9a8955-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-949d345907ae-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-066879cd2f37-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-718ff4e016f7-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-d44bfb23dff5-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-5bb11829fa7a-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-76495bd754cd-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-3587fcacd70c-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-41d2bb9c3d43-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-c2fce0450a9a-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-10ca18911ff7-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-6e38ff048f7d-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-19401dfb147a-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-870d174ae1b8-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 12;
  grid-row-start: 12;
  -ms-grid-row-span: 1;
  grid-row-end: 13;
}

#w-node-85a36804cba0-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 1;
  grid-row-end: 14;
}

#w-node-568d0f288751-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 1;
  grid-row-end: 14;
}

#abstract.w-node-b29bd490b5e2-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 1;
  grid-row-end: 14;
}

#w-node-98e2317302c7-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-13b2cc4cf227-f9cd73c5 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-408ea936028b-f9cd73c5 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-704ea48b127e-f9cd73c5 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-79129fe7ef19-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

#w-node-ee169997de9b-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

#introduction.w-node-3d01c8757c7d-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

#w-node-919c9c0c3f76-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 16;
  grid-row-start: 16;
  -ms-grid-row-span: 1;
  grid-row-end: 17;
}

#w-node-dc1330b5a7af-f9cd73c5 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 16;
  grid-row-start: 16;
  -ms-grid-row-span: 1;
  grid-row-end: 17;
}

#w-node-e10eed177af2-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 17;
  grid-row-start: 17;
  -ms-grid-row-span: 1;
  grid-row-end: 18;
}

#w-node-fe39c36e7cc2-f9cd73c5 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row: 17;
  grid-row-start: 17;
  -ms-grid-row-span: 1;
  grid-row-end: 18;
}

#w-node-691e17ddd1dc-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 18;
  grid-row-start: 18;
  -ms-grid-row-span: 1;
  grid-row-end: 19;
}

#w-node-bf11138c9ded-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 19;
  grid-row-start: 19;
  -ms-grid-row-span: 1;
  grid-row-end: 20;
}

#w-node-d919d7b56237-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 20;
  grid-row-start: 20;
  -ms-grid-row-span: 1;
  grid-row-end: 21;
}

#w-node-0558321a2cea-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 20;
  grid-row-start: 20;
  -ms-grid-row-span: 1;
  grid-row-end: 21;
}

#dance-music-born.w-node-e70f696dc397-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 20;
  grid-row-start: 20;
  -ms-grid-row-span: 1;
  grid-row-end: 21;
}

#w-node-206846055cd4-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 21;
  grid-row-start: 21;
  -ms-grid-row-span: 1;
  grid-row-end: 22;
}

#w-node-9635ec171278-f9cd73c5 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 21;
  grid-row-start: 21;
  -ms-grid-row-span: 1;
  grid-row-end: 22;
}

#w-node-1b5e95e7d305-f9cd73c5 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 21;
  grid-row-start: 21;
  -ms-grid-row-span: 1;
  grid-row-end: 22;
}

#w-node-0dbe9aab48cd-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 22;
  grid-row-start: 22;
  -ms-grid-row-span: 3;
  grid-row-end: 25;
}

#w-node-a7970fa17f4e-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 25;
  grid-row-start: 25;
  -ms-grid-row-span: 1;
  grid-row-end: 26;
}

#w-node-9088a114bc80-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 26;
  grid-row-start: 26;
  -ms-grid-row-span: 1;
  grid-row-end: 27;
}

#w-node-f606f8812bc6-f9cd73c5 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row: 26;
  grid-row-start: 26;
  -ms-grid-row-span: 1;
  grid-row-end: 27;
}

#chicago.w-node-8cd44da651f6-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 27;
  grid-row-start: 27;
  -ms-grid-row-span: 1;
  grid-row-end: 28;
}

#w-node-9d6aff2f08da-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 28;
  grid-row-start: 28;
  -ms-grid-row-span: 1;
  grid-row-end: 29;
}

#w-node-3d7bede2272a-f9cd73c5 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row: 28;
  grid-row-start: 28;
  -ms-grid-row-span: 1;
  grid-row-end: 29;
}

#detroit-berlin.w-node-cecc180309bc-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 29;
  grid-row-start: 29;
  -ms-grid-row-span: 1;
  grid-row-end: 30;
}

#w-node-d7b473fdcc09-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 12;
  grid-column-end: 14;
  -ms-grid-row: 33;
  grid-row-start: 33;
  -ms-grid-row-span: 1;
  grid-row-end: 34;
}

#club-bassiani.w-node-b07c9a2eae44-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 33;
  grid-row-start: 33;
  -ms-grid-row-span: 1;
  grid-row-end: 34;
}

#w-node-b1442e51e892-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 30;
  grid-row-start: 30;
  -ms-grid-row-span: 1;
  grid-row-end: 31;
}

#w-node-292d2c53432f-f9cd73c5 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row: 30;
  grid-row-start: 30;
  -ms-grid-row-span: 1;
  grid-row-end: 31;
}

#w-node-11794ac26283-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 31;
  grid-row-start: 31;
  -ms-grid-row-span: 1;
  grid-row-end: 32;
}

#w-node-72f84da0a3f0-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 32;
  grid-row-start: 32;
  -ms-grid-row-span: 1;
  grid-row-end: 33;
}

#w-node-2fa8314e2f55-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 34;
  grid-row-start: 34;
  -ms-grid-row-span: 1;
  grid-row-end: 35;
}

#w-node-267e01320f14-f9cd73c5 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 34;
  grid-row-start: 34;
  -ms-grid-row-span: 1;
  grid-row-end: 35;
}

#w-node-666f6477f5c3-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 35;
  grid-row-start: 35;
  -ms-grid-row-span: 3;
  grid-row-end: 38;
}

#safer-spaces.w-node-0f90ba6ed62f-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 38;
  grid-row-start: 38;
  -ms-grid-row-span: 1;
  grid-row-end: 39;
}

#w-node-050d9941d04a-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 39;
  grid-row-start: 39;
  -ms-grid-row-span: 3;
  grid-row-end: 42;
}

#w-node-0593a78a123a-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 42;
  grid-row-start: 42;
  -ms-grid-row-span: 1;
  grid-row-end: 43;
}

#w-node-b0571c13a140-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 43;
  grid-row-start: 43;
  -ms-grid-row-span: 1;
  grid-row-end: 44;
}

#w-node-8e01ae6adb24-f9cd73c5 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row: 43;
  grid-row-start: 43;
  -ms-grid-row-span: 1;
  grid-row-end: 44;
}

#w-node-13794a6cba0e-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 44;
  grid-row-start: 44;
  -ms-grid-row-span: 1;
  grid-row-end: 45;
}

#connected-utopia.w-node-d2613ecc7d9e-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 45;
  grid-row-start: 45;
  -ms-grid-row-span: 1;
  grid-row-end: 46;
}

#w-node-d6ae20a3b9c2-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 45;
  grid-row-start: 45;
  -ms-grid-row-span: 1;
  grid-row-end: 46;
}

#w-node-ce75231f1c25-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 45;
  grid-row-start: 45;
  -ms-grid-row-span: 1;
  grid-row-end: 46;
}

#w-node-d7fb92614d27-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 47;
  grid-row-start: 47;
  -ms-grid-row-span: 1;
  grid-row-end: 48;
}

#w-node-d9b425857d8e-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 48;
  grid-row-start: 48;
  -ms-grid-row-span: 1;
  grid-row-end: 49;
}

#w-node-5a9061d3d957-f9cd73c5 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row: 48;
  grid-row-start: 48;
  -ms-grid-row-span: 1;
  grid-row-end: 49;
}

#w-node-7ad2add43d03-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 49;
  grid-row-start: 49;
  -ms-grid-row-span: 1;
  grid-row-end: 50;
}

#conclusion.w-node-a0b3a282dab8-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 49;
  grid-row-start: 49;
  -ms-grid-row-span: 1;
  grid-row-end: 50;
}

#w-node-8a5958947e99-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 11;
  grid-column-end: 13;
  -ms-grid-row: 49;
  grid-row-start: 49;
  -ms-grid-row-span: 1;
  grid-row-end: 50;
}

#w-node-d273eac58e91-f9cd73c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 6;
  grid-column-end: 8;
  -ms-grid-row: 50;
  grid-row-start: 50;
  -ms-grid-row-span: 1;
  grid-row-end: 51;
}

#w-node-5e2c710096db-f9cd73c5 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 34;
  grid-row-start: 34;
  -ms-grid-row-span: 1;
  grid-row-end: 35;
}

#w-node-9d6074f604ab-f9cd73c5 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 38;
  grid-row-start: 38;
  -ms-grid-row-span: 1;
  grid-row-end: 39;
}

#w-node-7f59cf6fde1f-f9cd73c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 33;
  grid-row-start: 33;
  -ms-grid-row-span: 1;
  grid-row-end: 34;
}

@font-face {
  font-family: 'Girott';
  src: url('../fonts/girott_regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lyontext';
  src: url('../fonts/LyonText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}